*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
    color: #e5e5e5;
    cursor: default;
}

.header{
    align-items: center;
    height: 80px;
    background-color: #14213d;
    color: #e5e5e5;
    display: flex;
    justify-content: space-between; 
}
.header h1 {
    width: 20px;
    height: 90px;
    color: #ffffff;
}

.tittle{
    padding-left: 10px;
    height: 80px;
}

.socialMedia{
    display: flex;
    padding-right: 15px;
    cursor: pointer;
}

.socialMedia_item--twitter{
    padding-right: 10px;
    padding-left: 10px;
    transition: flex .5s;
    opacity: 0.3;
    object-fit: cover;
}

.socialMedia_item--twitter:hover{
    opacity: 1;
}

.socialMedia_item--instagram{
    padding-right: 10px;
    padding-left: 10px;
    opacity: 0.3;
}
.socialMedia_item--instagram:hover{
    opacity: 1;
}

.socialMedia_item--github{
    padding-right: 10px;
    padding-left: 10px;
    opacity: 0.3;
}

.socialMedia_item--github:hover{
    opacity: 1;
}

/* HEADER */

body{
    background-color: #e5e5e5;
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

.sobreMi{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sobreMi h2 {
    color: #14213d;
    font-size: 40px;
    margin-bottom: 20px;
}

.texto{
    padding: 30px 30px 30px;
    text-align: center;
}

.sobreMi p {
    color: black;    
    line-height: 25px;
}

.sobreMi img {
    width: 250px;
    height: 500px;
    border-radius: 20px;
    object-fit: cover;
}

.mySkills {
    background-color: #fca311;
    display: flex;
    height: 500px;
    width: 100%;
    align-items: center;
    margin-top: 20px;
    padding-left: 30px;
}

.mySkills--languages{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding-left: 30%;
}

.aclaracion {
    color: #14213d;
}

.animacion{
    color: black;
    font-size: 50px;
}

.animacion:hover{
    animation-duration: 2.5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    cursor: -webkit-grab;
}

@keyframes pulse {
    0% {transform: scale(1);}
    50% {transform: scale(1.1);}
    100% {transform: scale(1);}
  }
  .pulse {
    animation-name: pulse;
    animation-duration: 1s;
}

.footer {
    background-color: #14213d;
    
}

.info{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info--nombre{
    font-size: 12px;
}

.info--contacto{
    padding-top: 5px;
    font-size: 10px;
}

.info--derechos{
    padding-top: 10px;
    font-size: 8px;
}

@media screen and (max-width: 600px){
    .header {
        min-height: 80px;
    }

    body{
        display: flex;
        background-color: #e5e5e5;
        border: none;
        padding: 0px;
        width: 100%;
    }
    .sobreMi{
        display: flex;
        width: 100%;
    }
    .mySkills{
        display: flex;
        width: 100%;
        background-color: #fca311;
    }
    .footer{
        width: 100%;
    }
    
    .info{
        padding-top: 10px;
        flex-direction: column;
        align-items: center;
    }
}