*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
    color: #e5e5e5;
    cursor: default;
    
}

.header{
    width: 100%;
    align-items: center;
    height: 80px;
    background-color: #14213d;
    color: #e5e5e5;
    display: flex;
    justify-content: space-between; 
}
.header h1 {
    width: 20px;
    height: 90px;
    color: #ffffff;
}

.tittle{
    padding-left: 10px;
    height: 80px;
}

.socialMedia{
    display: flex;
    /* padding-right: 15px; */
    cursor: pointer;
}

.socialMedia_item--twitter{
    padding-right: 10px;
    padding-left: 10px;
    transition: flex .5s;
    opacity: 0.3;
    object-fit: cover;
}

.socialMedia_item--twitter:hover{
    opacity: 1;
}

.socialMedia_item--instagram{
    padding-right: 10px;
    padding-left: 10px;
    opacity: 0.3;
}
.socialMedia_item--instagram:hover{
    opacity: 1;
}

.socialMedia_item--github{
    padding-right: 10px;
    padding-left: 10px;
    opacity: 0.3;
}

.socialMedia_item--github:hover{
    opacity: 1;
}

/* HEADER */

body{
    width: 100%;
    background-color: #e5e5e5;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    margin: 0px;
    /* overflow-x: scroll; */
}

.textoimagen{
    display: flex;
}

.sobreMi{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.texto{
    text-align: left;
    padding: 30px 30px 30px; 
}

.sobreMi h2 {
    color: #14213d;
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
}
.sobreMi p {
    color: black;    
    line-height: 25px;
}

.sobreMi img {
    margin-left: 5%;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    object-fit: cover;
}

.mySkills {
    background-color: #fca311;
    display: flex;
    height: 70vh;
    width: 100%;
    align-items: center;
    margin-top: 5%;
}

.mySkills__tittle {
    display: flex;
    margin-left: 5%;
}

.mySkills--languages{
    display: flex;
    margin-left: 5%;
    flex-wrap: nowrap;
}

.mySkills--languages__language{
    display: flex;
    flex-direction: column;
    margin-right: 10%;
    font-size: 25px;
}

.mySkills--languages__language img{
    height: 80px;
    width: 80px;
    margin-top: 5%;
    object-fit: cover;
}

.mySkills--languages__language:hover img{ 
    transform: scale(1);
    animation: pulse 3s infinite;
}


@keyframes pulse{
    0% {
		transform: scale(1);
	}

	30% {
		transform: scale(0.85);
	}

	60% {
		transform: scale(1);	
    }
    100% {
		transform: scale(0.85);	
	}
}

.mySkills--languages__language .soon{
    opacity: 0.19;
}

.footer {
    width: 100%;
    background-color: #14213d;
}

.info{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info--nombre{
    font-size: 12px;
}

.info--contacto{
    padding-top: 5px;
    font-size: 10px;
}

.info--derechos{
    padding-top: 10px;
    font-size: 8px;
}

/* scrollbar */

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

@media screen and (max-width: 600px){
    .header {
        min-height: 80px;
        width: 100%;
    }

    body{
        display: flex;
        background-color: #e5e5e5;
        border: none;
        padding: 0px;
        width: 100%;
    }

    .textoimagen{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .sobreMi{
        display: flex;
        width: 100%;
    }
    .mySkills{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        height: 100%;
        width: 100%;
        background-color: #fca311;
        padding-bottom: 5%;
    }

    .mySkills__tittle{
        width: 100%;
        padding-left: 5%;
    }

    .mySkills--languages{
        width: 100%;
        justify-content: center;
        /* align-items: center; */
        display: flex;
        flex-direction: column;
    }

    .mySkills--languages__language{
        display: flex;
    }

    /* .mySkills--languages__language a{
        display: none;
    } */

    .footer{
        width: 100%;
    }
    
    .info{
        padding-top: 10px;
        flex-direction: column;
        align-items: center;
    }
}